body{
    background: rgba(102, 152, 245, 0.911);
    font: normal 15px Arial; 
    text-align: center;
   
}

header{
    color: white;
    text-align: center;

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    

}